@charset "UTF-8";
@import url('main.css'); 
@import url('nav.css');
@import url('sub.css'); 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }

html,body{word-break:keep-all; font-size:16px; color:#2f2c28; font-weight:300;}
body,h1,h2,h3,h4,h5,h6,p,table,tr,th,td,ul,li,ol{padding:0; margin:0; font-family: 'Noto Sans KR';}
table{border-collapse:collapse; border-spacing:0;}
a{color:#454545; text-decoration:none;}
img{border:0;}
ul,li,ol{list-style:none;}


input[type="text"] { width:340px;  outline: none; height:34px; line-height:38px; border:0px solid #692b90; margin:0 40px 0 20px;}

input[type="text_id"] {width:100%; height: 40px; padding: 0; border:0;}

input[type="password"] {width:100%; height: 40px; padding: 0; border:0;}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

.form_w5 {width:5% !important;}
.form_w10 {width:10% !important;}
.form_w15 {width:15% !important;}
.form_w20 {width:20% !important;}
.form_w25 {width:25% !important;}
.form_w30 {width:30% !important;}
.form_w35 {width:35% !important;}
.form_w40 {width:40% !important;}
.form_w45 {width:45% !important;}
.form_w50 {width:50% !important;}
.form_w55 {width:55% !important;}
.form_w60 {width:60% !important;}
.form_w65 {width:65% !important;}
.form_w70 {width:70% !important;}
.form_w75 {width:75% !important;}
.form_w80 {width:80% !important;}
.form_w85 {width:85% !important;}
.form_w90 {width:90% !important;}
.form_w95 {width:95% !important;}
.form_w100 {width:100% !important;}
/*!important; 명령 1순위*/




