@charset "UTF-8";


#wrap,
.content{width:100%;margin:0 auto;}
.inner{width:100%; margin:0 auto; background:#000304; opacity:0.85;position:fixed;z-index:1;}
.visual  .inner2{width:100% margin:0 auto;}

.inner .inner_top {width:1200px;  margin:0 auto; position: relative; }

.inner .inner_menu {float:left;width:1200px;  margin:0 auto;}
.inner .inner_menu ul{position: absolute;right: 0;top: 0; display:block; text-align: center;}
.inner .inner_menu ul li {display:inline-block; padding-top:20px;  padding-left:55px;}
.inner .inner_menu ul li a{color:#ffffff;}
.inner {padding: 7px 0;}



.visual  .inner2 img{width:100%;}
.visual  .inner2 span{position:absolute; left: 165px;top: 250px; }

.visual  .inner2 > p {color:#fff;position:absolute; left: 287px;top: 258px; }
.visual  .inner2 h4 {color:#fff; position:absolute; left: 168px;top: 310px; font-size:50px;}
.visual  .inner2 h4 > p {color:#fff; font-size:23px; font-weight:300; line-height:28px}




.content{margin-top:-5px;}
.content .c_top {width:100%; margin:0 auto; color:#000; text-align:center; margin-top:118px;}
.content .c_top h5 {font-size:20px;font-weight:500; padding-bottom: 10px;}
.content .c_top > p {font-size:15px; letter-spacing:-0.5px; color:#215c7a; padding-bottom:68px;}

.content .c_top{overflow:hidden; display:block;  z-index:2;}
.content .c_top .box{position: relative; overflow:hidden;display:inline-block; width:363px; height: 500px; border:1px solid #ccc;
box-sizing:border-box; -webkit-box-sizing:border-box;margin-right:51px; margin-bottom:127px;}
.content .c_top .box > p {width:65px; height: 60px; background:#6699ff; border:1px solid #6699ff;
box-sizing:border-box; -webkit-box-sizing:border-box;position:absolute; left:0; top:0; text-align:center; line-height: 60px; color:#fff;}
.content .c_top .box h6 {font-size:20px; font-weight:500; padding-top:35px;}
.content .c_top .box h6 > p{font-size:16px; font-weight:300;}
.content .c_top .box h6 div p{font-size:16px; font-weight:300; width:180px; height:35px;border:1 solid #000; border-radius: 5px; background:#000; color:#fff; line-height:35px; position:absolute; left :92px; bottom:30px;}

.content .c_center {width:100%; background:#F1F5F8;  position: relative;}
.content .c_center .left,
.content .c_center .right{width:1200px; margin:0 auto;}
.content .c_center .left table {width:50%;position: relative; }
.content .c_center .right img {position:absolute; right:450px; top:90px;}
/*.content .c_center .left table tr:nth-child(n + 2) {display:block;}
.content .c_center .left table tr td :nth-child(n + 2){display:inline-block;}*/
.content .c_center .left table tr td :nth-child(n + 2){height:60px;}
.content .c_center .left table tr:nth-child(n + 2) td p{float:left;padding-left:7px; padding-right:21px;}

.content .c_center .left table tr:nth-child(n + 2) td {padding:20px 0 ;border-bottom:1px solid #ccc;}
.content .c_center .left table tr:nth-child(n + 2) td span {font-size:20px; font-weight:500;}
.content .c_center .left table tr:nth-child(n + 2) td p:last-child {font-size:15px; font-weight:300; padding-left:110px;}

.content .c_center .left table tr:nth-child(1) td {font-size:20px; font-weight:500; width:50%; border-bottom:2px solid #000;padding-top:65px;padding-bottom:25px;}
.content .c_center .left table tr:nth-child(1) td > span{font-size:20px; float:right;}

.content .c_center .left table tr:nth-child(2) br:nth-child(2),
.content .c_center .left table tr:nth-child(3) br:nth-child(2),
.content .c_center .left table tr:nth-child(4) br:nth-child(2){float:right; font-size:12px;}





.content .c_bottom {width:1200px; margin:0 auto; background: pink;}

.content2 .c2_bottom img{width:100%; margin:0 auto;}






#wrap .footer {width:100%; margin:0 auto; background:#303030; margin-top:-5px;}