@charset "utf-8";

.inner{position:relative; width:1200px; margin:0 auto;}

/*header*/
#mobile_menu{display:none;}
header{position:fixed; top:0; left:0; background:rgba(0,0,0,0.7); height:86px; width:100%; z-index:999999999999999;}
header h1.logo{padding-left:20px;}/*반응형일때 고려*/

/*visual*/


