@charset "utf-8";

/*공통 스타일*/
body,h1,h2,h3,h4,h5,h6,p,table,th,tr,td,ul,ol,li{font-family:"Noto Sans KR"; margin:0; padding:0;}
img{border:0;}
a{color:#454545; text-decoration:none;}
table{border-collapse:collapse; border-spacing:0;}
ul,ol,li{list-style:none;}

/*레이아웃*/
.boxA{width:300px; margin:0 auto; border:1px solid #ddd; padding:30px;}
.boxA a{display:block; width:200px; padding:10px; margin:8px 0; background:#ccffff; border-right:10px solid skyblue;}
/*
a, b, strong, span - width/height 값 적용 불가
블럭(block) 이용해 a, b, strong, span - width/height 값 적용
블럭(block) 요소 : div, h1~h6, p, ul, ol, form
dispaly 화면에 어떻게 드러나게 할지(레이아웃) 결정하는 속성
display:block; 넓이, 높이, 마진, 줄바꿈(div 기본값과 동일)
display:inline-block; 넓이, 높이, 마진, 가로정렬(float:left; 와 동일)
display:none; 태그 기능 실행불가(화면에서 사라짐)
*/
.boxA a:hover{border-right:10px solid #6600ff; color:#6600ff;}

.block_box{width:500px; margin:100px auto 50px; background:#ff00cc; padding:30px;}
/*margin:100px auto 50px; 위 중앙 아래*/
.block_box p span{display:block; width:200px; color:#ffcc00;}
.block_box p strong{display:inline-block; width:200px; background:#000; color:#fff;}

.a{width:200px; height:100px; background:#ffcccc;}
.b{position:relative; left:200px; top:50px; width:200px; height:100px; background:#00ccff;}
.c{width:200px; height:100px; background:#ccccff;}
/*
div, h1~h6, ul, p 박스
position 좌표 left, right, top, bottom값 사용 가능(left, right, top, bottom으로부터 떨어져라)
position:relative; 좌표 상대값
position:absolute; 좌표 절대값
position:fixed; 좌표 고정값
z-index:숫자; 박스(레이어) 순서 변경, 숫자 클수록 위로
*/

.h100{height:100px;}

.d{position:absolute; width:200px; height:100px; background:#cc33ff; z-index:3;}
.e{position:absolute; width:200px; height:100px; background:#ffff00; margin:20px; z-index:1;}
.f{position:absolute; width:200px; height:100px; background:#ff6699; margin:40px; z-index:2;}
.fix{position:fixed; right:50px; top:200px; width:50px; height:300px; background:#ddd; border:4px dotted blue;}

.menu1{width:800px; margin:80px auto;}
.menu1 ul{overflow:hidden; border-bottom:2px solid #000;}
.menu1 ul li{float:left; background:#ccffcc; padding:10px 30px; border-right:1px solid #000; border-top:1px solid #000;}
.menu1 ul li:first-child{border-left:1px solid #000;}

.menu2{width:800px; margin:80px auto; background:#cc99ff; padding:30px;}
.menu2 ul{font-size:0; border-bottom:2px solid #000; text-align:center;}
.menu2 ul li{display:inline-block; font-size:17px; padding:10px 30px; border-right:1px solid #fff; border-top:1px solid #fff;}
.menu2 ul li:first-child{border-left:1px solid #fff;}
/*
    가로메뉴
	가로정렬 float:left; / display:inline-block;
	float:left; 부모 요소에 overflow:hidden; 줘야 상태값 지정 가능
	display:inline-block; 각각 여백 생성, 여백을 없애기 위해 부모 요소에 font-size:0; 지정
*/

/*relative, absolute*/
.pro_list{width:1000px; margin:0 auto; background:#99cc00;}
.pro_list ul{overflow:hidden; padding:30px;}
.pro_list ul li{position:relative; float:left; width:33.3%; border:1px solid red; padding:0 20px; box-sizing:border-box; -webkit-box-sizing:border-box;}
/*기준이 되는 좌표태그 li에 position:relative;*/

.pro_list ul li span{position:absolute; right:20px; display:block; width:50px; height:50px; line-height:50px; background:#000; font-size:12px; color:#fff; font-weight:bold; text-align:center;}
/*line-height:50px; height가 50px라서 middle정렬 주기위해*/
/*right:20px; 기준이 되는 좌표태그 li에 padding:0 20px; 있기 때문에*/

.pro_list ul li img{width:100%;}

/*pagecut*/
.pagecut{background:#ccffff; padding:50px 0; width:80%; margin:0 auto;}
.pagecut ul{font-size:0; text-align:center;}
.pagecut ul li{display:inline-block; font-size:16px; vertical-align:middle;}
.pagecut ul li a{display:block; padding:0 10px;}
.pagecut ul li a.selected{color:red; font-weight:bold;}

/*bgbox*/
.bgbox{width:70%; height:500px; margin:100px auto; border:1px solid red; background:red url(img.jpg) no-repeat 30px center;}
/*
    background:색상 이미지경로 반복여부 위치;
	no-repeat 반복없음
	repeat-x 가로 반복
	repeat-y 세로 반복
	background-position:좌 상;
*/

/*bullet*/
.bullet{width:300px; margin:100px auto; background:#eee; padding:30px;}
.bullet ul li{font-size:18px;}
.bullet ul li a{display:block; padding:10px 0 10px 30px; border-bottom:1px solid red; background:url(arrow3.png) no-repeat 0 55%;}