@charset "utf-8";

@media screen and (max-width:1200px){
    .inner{width:100%;}
	header .h_top > a {width:40%;}
}

@media screen and (max-width:1024px){
    .inner{width:100%;}
	header .h_top > a {width:30%;}
}
 
 /*막대기 메뉴 만들기*/
@media screen and (max-width:828px){
    .inner{width:100%;}
	header .h_top > a {width:30%;}
}


/*hedaer-bottom*/
@media screen and (max-width:1200px){
    header .h_bottom ul {text-align:center;}
	header .h_bottom ul li {width:200px; }
}

@media screen and (max-width:1024px){
    header .h_bottom ul {text-align:center;}
	header .h_bottom ul li {width:170px; }
}

@media screen and (max-width:828px){
	header .h_bottom {display:none;}
    header .h_bottom ul {text-align:center;}
	header .h_bottom ul li {width:140px; }
	header .h_bottom ul li > a p{font-size:16px; color:#000; text-align:center; font-weight:400;}
}

/**********************************************header********************************************/

/**********************************************visual*********************************************/


@media screen and (max-width:1580px){
	.visual{width:100%;}
    .visual .v_left {text-align:left;padding-left:200px; padding-top:250px;}
	.visual .v_left > h2 > p{font-size:50px;color:#fff; letter-spacing:-5px; font-weight:100;} 
	.visual .v_left > h2 {font-size:50px;letter-spacing:-2px;}
	.visual .line{display:none;}
	
}

@media screen and (max-width:1350px){
	.visual{width:100%;}
    .visual .v_left {text-align:left;padding-left:100px; padding-top:300px;}
	.visual .v_left > h2 > p{font-size:45px;color:#fff; letter-spacing:-5px; font-weight:100;} 
	.visual .v_left > h2 {font-size:45px;letter-spacing:-2px;}
	
}

@media screen and (max-width:1024px){
	.visual{width:100%;}
    .visual .v_left {text-align:left;padding-left:30px; padding-top:300px;}
	.visual .v_left > h2 > p{font-size:40px;color:#fff; letter-spacing:-5px; font-weight:100;} 
	.visual .v_left > h2 {font-size:40px;letter-spacing:-2px;}
	
}


@media screen and (max-width:828px){
	.M_visual img {width:100%;}
	.visual{display:none;}
    .M_visual{display:block;}
	.visual .line .line1,
	.visual .line .line2 {display:none;}
	.M_visual .v_left {width:100%; padding-left:25px; padding-right:25px; }
	.M_visual .v_left a {margin-bottom:25px;}
}


@media screen and (max-width:667px){
	.M_visual img {width:100%;}
	.M_visual .v_left{padding-left:10px; text-align:left; position:relative;height:360px;}
	.M_visual .v_left > h2 > p{font-size:35px;} 
	.M_visual .v_left > h2 {font-size:35px;}
	.M_visual .v_left > div {font-size:13px; padding-top:20px; line-height: 20px;}
	.M_visual .v_left > p{font-size:13px;}
	.M_visual .v_left > a {display:block; width:200px; height:57px;line-height:57px; text-align:center; background:#b44c55; color:#fff; position:absolute;bottom:30px; }
}

@media screen and (max-width:420px){
	.M_visual .v_left > div {font-size:11px;}
	.M_visual .v_left > p{font-size:13px;}
	
}

@media screen and (max-width:320px){
.M_visual {height:550px;}
	.M_visual .v_left > a {position:absolute;bottom:0px; left:50px; }
	.M_visual .v_left > h2 > p{font-size:25px;letter-spacing:-1px;} 
	.M_visual .v_left > h2 {font-size:25px;}
	.M_visual .v_left > div {letter-spacing:-1px;}
	.M_visual .v_left > p{font-size:12px;}
.mobile_menu h1 > a img {width:150px;}
}



/**********************************************visual*********************************************/
/**********************************************content*******************************************/


@media screen and (max-width:1200px){
	.content .c1 ul {width:80%; border-bottom:0;}
	.content .c1 ul li  { margin-top:20px; }

	
}

@media screen and (max-width:1024px){
	.content .c1 ul {width:80%;padding-left:190px;}
}

@media screen and (max-width:975px){
	.content .c1 {overflow:hidden;}
	.content .c1 ul {width:83%;float:right;}
	 .content .c1 ul li  { margin-top:20px; margin-right: 20px;}
}

@media screen and (max-width:828px){
	.content .c1 ul {width:100%;display:flex; justify-content:center;}
	 .content .c1 ul li:nth-child(3),
	 	 .content .c1 ul li:nth-child(4){ display:none;}
}

@media screen and (max-width:768px){
	.content .c1 ul {width: 100%; display:flex; justify-content:center;}
	.content .c1 ul li {padding-left:30px;}
}
@media screen and (max-width:667px){
	.content .c1 ul {width: 99%; padding-left:8px;}
	.content .c1 ul li {width:80%;}
	
}

@media screen and (max-width:560px){
	.content .c1 ul {display:flex; justify-content:center;}
	.content .c1 ul li:nth-child(2) {  display:none;}
	.content .c1 ul li {width:272px;}
	.content .c1 ul li > a h4,
	.content .c1 ul li > a h5 {padding-left:1px; }
	.content .c1 ul li > a > p {padding-left:1px;}
}
@media screen and (max-width:320px){
	
	.content .c1 > h3 {font-size:25px; font-weight:200; letter-spacing:-1px; padding-bottom:55px;}
	.content .c1 ul li {width:290px;margin:0; padding:0;}
	.content .c1 ul li > a h4,
	.content .c1 ul li > a h5 {padding-left:20px; }
	.content .c1 ul li > a > p {padding-left:20px;}
	.content .c1 ul li > a > img{position:absolute; bottom:8px; left:5px; border-radius:20px; }
	
}


/*content2*/
@media screen and (max-width:1580px){
		.content .c2 {width:100%;}
	.content .c2 .c2_text {position:absolute; bottom:-90px; left:750px; width:780px;}
	
}

@media screen and (max-width:1024px){
.content .c2 {width:50%;}
	.content .c2 .c2_text {position:absolute; bottom:0px; left:530px;width:450px;}
	.content .c2 .c2_text > p {font-size:20px;padding-bottom:25px; font-weight:400;}
.content .c2 .c2_text > h3 {font-size:35px; font-weight:300; padding-bottom:20px;}
.content .c2 .c2_text > h3 b {font-weight:600;}
.content .c2 .c2_text > div{font-size:15px; color:#a2a2a2;}
.content .c2 .c2_text > a {display:inline-block; width:200px; height:68px; border-radius:15px;color:#fff;line-height: 68px;text-align: center; font-size:25px;margin-top:20px;}
}

@media screen and (max-width:975px){
	.content .c2 {background:none; position:relative;}
		.content .c2 img {display:block;position:absolute; bottom:-280px; left:-250px; border-top-right-radius: 48%; border-bottom-right-radius: 48%;}
	.content .c2 .c2_text {width:100%; position:absolute; top:-250px; left:50%;}
}

@media screen and (max-width:828px){

		.content .c2 img {display:block;position:absolute; bottom:-300px; left:-250px; border-top-right-radius: 48%; border-bottom-right-radius: 48%;}
	
}

@media screen and (max-width:768px){
		.content .c2 img {display:block;position:absolute; bottom:-350px; left:-250px; border-top-right-radius: 48%; border-bottom-right-radius: 48%;}
	.content .c2 .c2_text > a {display:inline-block; width:120px; height:68px; border-radius:15px;color:#fff;line-height: 68px;text-align: center; font-size:15px;margin-top:20px;}

}
@media screen and (max-width:667px){
		.content .c2 img {display:block;position:absolute; bottom:-550px; left:-250px; border-top-right-radius: 48%; border-bottom-right-radius: 48%;}
}

@media screen and (max-width:560px){
		.content .c2 img {width:600px; display:block;position:absolute; bottom:-400px; left:-250px; border-top-right-radius: 48%; border-bottom-right-radius: 48%;}
}

@media screen and (max-width:480px){
		.content .c2 img {width:600px; display:block;position:absolute; bottom:-400px; left:-250px; border-top-right-radius: 48%; border-bottom-right-radius: 48%;}
		.content .c2 .c2_text > p {font-size:15px;padding-bottom:25px; font-weight:400;}
.content .c2 .c2_text > h3 {font-size:30px; font-weight:300; padding-bottom:20px;}
	.content .c2 .c2_text > a {display:inline-block; width:100px; height:68px; border-radius:15px;color:#fff;line-height: 68px;text-align: center; font-size:15px;margin-top:20px;}
}

@media screen and (max-width:320px){
		.content .c2 img {display:none;}
		.content .c2 .c2_text > p {font-size:15px;padding-bottom:25px; font-weight:400;}
.content .c2 .c2_text > h3 {font-size:30px; font-weight:300; padding-bottom:20px;}
	.content .c2 .c2_text > a {display:inline-block; width:100px; height:68px; border-radius:15px;color:#fff;line-height: 68px;text-align: center; font-size:15px;margin-top:20px;}
}

