@charset "utf-8";

body{background:#ebf0f4;}

#wrap{width:1240px; margin:50px auto;}

.content h2{font-size:38px; font-weight:700; color:#26a19c; margin-bottom:25px;}
.content h2 span {color:#000;}
.content h2 p {display:inline-block; font-size:15px; font-weight:400; color:#555; height:40px; line-height:40px; border-left:1px solid #ddd; padding-left:20px; margin-left:20px;  position:relative; top:-6px;} /* 텍스트 위로올.*/





.box{overflow:hidden;}
.box .quick{float:left; width:300px;  height:595px; background:#155f8c; border-radius:15px;   position:relative;}
.box .inner{float:right; width:925px;}
.box .inner .in{position: relative; float:left; height:290px; border-radius:15px; padding:40px;  0 0 40px; box-sizing:border-box; -webkit-box-sizing:border-box; } /*상위에도 float있으면 스킵하고 부모 클래서 확인하기*/

.box .inner .in:nth-child(1),
.box .inner .in:nth-child(4){width:610px; background:#fff;}

.box .inner .in:nth-child(2),
.box .inner .in:nth-child(3){width:300px;}
.box .inner .in:nth-child(2){ background:#26a19c;}
.box .inner .in:nth-child(3){ background:#1698c9;}

.box .inner .in:nth-child(1),
.box .inner .in:nth-child(3){margin-right:15px;}

.box .inner .in:nth-child(2),
.box .inner .in:nth-child(4){margin-bottom:15px;}

.box .quick ul {position: absolute; padding: 30px; text-align:center; padding:25px; vertical-align: middle;}
.box .quick ul li { width :50%; float:left; width: 48%; font-size:12px; text-align:center; color:#fff; padding-bottom:46px;}

.box .inner .in .in_left{width:50%; float:left;height: 100%;}
.box .inner .in .in_right{width:50%; float:right; height: 100%;}



.box .inner .in .in_left h3{font-size:25px; }
.box .inner .in .in_left h3 p{font-size:12px; font-weight:300; padding:20px 0;}

.box .inner .in .in_right ul li {border: 1px solid #ddd; padding:7px; font-weight:500; margin-bottom:15px;}
.box .inner .in .in_right ul li  img{padding-left:25px; display:inline-block;  position:relative; top:-2px;}
.box .inner .in .in_right ul li span{float:right;  width: 70px;height: 40px;margin-left: 5px;border-radius: 5px;background: #333532;color:#ffff;  text-align:center; position:relative; top:-8px; position:relative; right:-10px;}


.box .inner .in:nth-child(2){color:#ffff;}
.box .inner .in:nth-child(2) h4{font-size:25px;}
.box .inner .in:nth-child(2) p {font-size:12px; font-weight:300; padding-top:20px;  padding-bottom:90px;}
.box .inner .in:nth-child(2) img{position: absolute;right: 0;bottom: 0;}

.box .inner .in:nth-child(3){color:#ffff;}
.box .inner .in:nth-child(3) h4{font-size:25px;}
.box .inner .in:nth-child(3) p {font-size:12px; font-weight:300; padding-top:20px;  padding-bottom:50px;}
.box .inner .in:nth-child(3) img{position: absolute;right: 0;bottom: 0;}


.box .inner .in:nth-child(4) h5{color:#26a19c; font-size:25px; font-weight:700;  margin-bottom:25px;}
.box .inner .in:nth-child(4) h5 span{color:black;}
.box .inner .in:nth-child(4) h5 p {display:inline-block; font-size:15px; font-weight:300; color:#555; height:40px; line-height:40px; border-left:1px solid #ddd; padding-left:20px; margin-left:20px;  position:relative; top:-6px;}

.box .inner .in:nth-child(4) ul li{display:inline-block; width: 33%; padding-bottom:9px;}
.box .inner .in:nth-child(4)  img {position: absolute; right: 10; bottom: 0;}












